<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
		<form>
			<div class="form-group">
				<label>First name</label>
	    	<input type="text" class="form-control" placeholder="First name" ng-model="user.fname">
	    </div>
	    <div class="form-group">
	    	<label>Last name</label>
	    	<input type="text" class="form-control" placeholder="Last name" ng-model="user.lname">
	    </div>
	    <div class="form-group">
	    	<label>Username</label>
	    	<input type="text" class="form-control" placeholder="Username" ng-model="user.username">
	    </div>
			<button class="btn btn-default" ng-click="addUser()">Add</button>
		</form>
	</div>
</div>